<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Fiserv Code Assessment" >

	<listeners>
		<listener class-name="org.fiserv.listeners.ListenerClass"></listener>
		<listener class-name="org.fiserv.listeners.MethodInterceptor"></listener>
	</listeners>


	<test name="Google Search Test">
		<classes>
			<class name="org.fiservTests.com.GooleSearchItemTest" />
		</classes>
	</test>

</suite>
  
